body {
width:1300px;
height: 4000px;
}


.navbar {
  overflow: hidden;
  width: 1300px;
  background: linear-gradient(to right,purple,#7fe5f0);
  font-family: Arial;
  
  
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #800080;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#logo {
	
	position: absolute;
	left: 0px;
	top:0px;
	bottom:0px;
}

video {
	position: absolute;
	top: 70px;
	
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 970px;
  left: 150px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #52127e;
  color: white;
  transform: rotateY(180deg);
}




.flip-card2 {
  background-color: transparent;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 970px;
  right: 180px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front2, .flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front2 {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back2 {
  background-color: #4ce1c3;
  color: white;
  transform: rotateY(180deg);
}





.flip-card3 {
  background-color: transparent;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 1290px;
  left: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card3:hover .flip-card-inner3 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front3, .flip-card-back3 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front3 {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back3 {
  background-color: #52127e;
  color: white;
  transform: rotateY(180deg);
}




.flip-card4 {
  background-color: transparent;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 1290px;
  right: 50px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner4 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card4:hover .flip-card-inner4 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front4, .flip-card-back4 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front4 {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back4 {
  background-color: #4ce1c3;
  color: white;
  transform: rotateY(180deg);
}

button {
	width: 80px;
	height: 40px;

  border-radius: 5px;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #bbb; 
  color: black; 
 
}

button:hover {
  background-color: #bc7ddf;
  color: white;
}

.header img{
   width: 1350px;
    height: 470px;
	position: absolute;
	top: 570px;
}